.krati{background-color : #00FFFF;
       font-size: 20px;


width:auto;
color:white;


       

     }
#true{font-size: 70px;
        text-align:left;
       background-color: #ebecf1;
color:black;}

.red{background-color : #0A2229;
       font-size: 20px;
        color : white;
        padding: 8px;
     }