.two {background-color : #00FFFF;
       font-size: 50px;
       color : white;}
.red{background-color : #0A2229; 
       font-size: 50px;
        color : white;}
.true{font-size: 100px;
      text-align: left;}
.new{text-align: left;}
